.App-form-field {
  margin-top: 2vh;
}

.App-form-error {
  color: red;
  font-size: 80%;
  margin-top: 0.4vh;
}

form label {
  font-size: .93em;
  font-weight: 700;
  display: inline-block;
  font-size: .92857143em;
  margin-bottom: .6vh;
}
