.App-form-field {
  margin-top: 2vh;
}

.App-form-error {
  color: red;
  font-size: 80%;
  margin-top: 0.4vh;
}

form label {
  font-size: .93em;
  font-weight: 700;
  display: inline-block;
  font-size: .92857143em;
  margin-bottom: .6vh;
}

.App-fixed-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.App-fixed-content {
  position: fixed;
  top: calc(50% + 52px);
  left: 50%;
  transform: translate(-50%, -50%);
}

.danger {
  color: darkred;
}
