@import url('https://fonts.googleapis.com/css?family=Lobster+Two:400,700');

.Layout-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 52px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.Layout-nav * {
  line-height: 52px;
}

.Layout-nav .Layout-brand {
  color: #000;
  font-family: 'Lobster Two', cursive;
  font-size: 1.4em;
  font-weight: bold;
}

.Layout-nav .Layout-brand:hover {
  color: #444;
  text-decoration: none;
}

#Layout-Icon {
  position: fixed;
  left: 4vw;
  top: 0;
  line-height: 52px;
}

#Layout-Icon:hover {
  cursor: pointer;
}

.Layout-Sidebar {
  width: 76vw;
  height: 100%;
  background: #fff;
  text-align: center;
  padding: 0 4vw;
  padding-top: 52px;
}

@media only screen and (min-device-width: 880px) {
  .Layout-nav {
    padding: 0 10vw;
    text-align: right
  }

  .Layout-nav .Layout-brand {
    float: left;
  }

  #Layout-Icon {
    display: none;
  }

  .Layout-nav * {
    margin-right: 1vw;
  }
}
