.SignIn {
  height: fill-available;
  width: fill-available;
  padding: 0 6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SignIn h2 {
  text-align: center;
  margin-bottom: 4vh;
}

.SignIn-error {
  color: red;
  font-size: 80%;
}

@media only screen and (min-device-width: 880px) {
  .SignIn {
    padding: 0 30vw;
  }
}
