.EventFeed {
  padding: 52px 6vw 0 6vw;
}

.App-fixed-content.ui.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.EventFeed > .ui.card.Event-Card {
  font-size: 130%;
  width: 90vw;
  margin: 2vh auto;
}

.Event-Card:hover {
  cursor: pointer;
}

.Category {
  color: white;
  background: #b5cc18;
  margin: 2px;
  padding: 2px 4px;
  border-radius: 2px;
}

@media only screen and (min-device-width: 880px) {
  .EventFeed > .ui.card.Event-Card {
    font-size: 130%;
    min-width: 460px;
    max-width: 36vw;
    margin: 2vh auto;
  }
}
