.EventFeed {
  padding: calc(52px + 4vh) 6vw 4vh 6vw;
}

.App-fixed-content.ui.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Event-Card:hover {
  cursor: pointer;
}

.Category {
  color: white;
  background: #b5cc18;
  margin: 2px;
  padding: 2px 4px;
  border-radius: 2px;
}

@media only screen and (min-device-width: 880px) {
  .ui.cards > .ui.card.Event-Card {
    width: 280px;
  }
}
