.Avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid darkred;
  float: right;
  margin-top: 6px;
  margin-right: 6px;
}

.Avatar-loading {
    border: 1px solid darkred;
    animation: spin 1s linear infinite;
}

.Avatar-loading:hover {
  cursor: progress;
}

.Avatar-loaded {
  cursor: pointer;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
