.SignUp {
  padding: 4vh 6vw;
  padding-top: calc(53px + 4vh);
}

.SignUp h2 {
  text-align: center;
}

.SignUp img {
  display: block;
  height: 12vw;
  width: 12vw;
  border-radius: 50%;
  margin: 1vh auto;
}

@media only screen and (min-device-width: 880px) {
  .SignUp {
    padding: 0 30vw;
    padding-top: calc(53px + 2vh)
  }
}
